<a href="https://colab.research.google.com/github/aliyor-azizovich/C-Sharp-Homework3/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Untitled%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Импортирование необходимых библиотек
import datetime
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error
from datetime import datetime
from sklearn.metrics import mean_squared_error, mean_squared_log_error, mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
train_dataset = pd.read_csv('train_dataset.csv')
test_dataset = pd.read_csv('test_dataset.csv')

In [43]:
columns_to_convert = train_dataset.columns[:-2]  # Исключаем последние два столбца
columns_to_convert = test_dataset.columns[:-2]  # Исключаем последние два столбца
print(test_dataset.head())

   date  time      target  temp  temp_pred  weather_pred  weather_fact
0   NaN   0.0  479.282013   5.7        5.0           NaN           NaN
1   NaN   1.0  445.182007   5.7        5.0           NaN           NaN
2   NaN   2.0  424.225006   5.7        5.0           NaN           NaN
3   NaN   3.0  413.865997   5.0        4.0           NaN           NaN
4   NaN   4.0  408.145996   5.0        4.0           NaN           NaN

In [44]:

# Заменить все нечисловые значения на NaN
train_dataset = train_dataset.apply(pd.to_numeric, errors='coerce')
test_dataset = test_dataset.apply(pd.to_numeric, errors='coerce')
# Теперь все нечисловые значения заменены на NaN

In [45]:

# Продолжайте с преобразованием в числовой формат и дальнейшей обработкой данных
train_dataset = train_dataset.astype('float32')
columns_to_convert = train_dataset.columns[:-2]

test_dataset = test_dataset.astype('float32')
columns_to_convert = test_dataset.columns[:-2]

In [46]:
# Заполнение пропущенных значений средними значениями
train_dataset['temp'].fillna(train_dataset['temp'].mean(), inplace=True)
test_dataset['temp'].fillna(test_dataset['temp'].mean(), inplace=True)

In [47]:
# Просмотр данных
print("Тренировочные данные:")
print(train_dataset.head())

print("Тестовые данные:")
print(test_dataset.head())

Тренировочные данные:
   date  time      target  temp  temp_pred  weather_pred  weather_fact
0   NaN   0.0  481.510010   2.9        2.0           NaN           NaN
1   NaN   1.0  462.872009   2.9        2.0           NaN           NaN
2   NaN   2.0  449.717987   2.9        2.0           NaN           NaN
3   NaN   3.0  430.907990   4.3        2.0           NaN           NaN
4   NaN   4.0  415.162994   4.3        2.0           NaN           NaN
Тестовые данные:
   date  time      target  temp  temp_pred  weather_pred  weather_fact
0   NaN   0.0  479.282013   5.7        5.0           NaN           NaN
1   NaN   1.0  445.182007   5.7        5.0           NaN           NaN
2   NaN   2.0  424.225006   5.7        5.0           NaN           NaN
3   NaN   3.0  413.865997   5.0        4.0           NaN           NaN
4   NaN   4.0  408.145996   5.0        4.0           NaN           NaN

In [48]:
# Теперь выберите числовые признаки для обучения
X_train = train_dataset[['temp', 'time']]
y_train = train_dataset['target']

X_test = test_dataset[['temp', 'time']]
y_test = test_dataset['target']

In [49]:
# # Случайный лес
model_rf = RandomForestRegressor(n_estimators=100, random_state=0)
model_rf.fit(X_train, y_train)
y_pred_rf = model_rf.predict(X_test)

In [51]:
y_pred_rf

array([438.93401531, 403.70349219, 382.78487184, ..., 440.81967233,
       444.11690219, 421.87179225])

In [52]:
# MAPE (Mean Absolute Percentage Error)
def calculate_mape(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100


mape_rf = calculate_mape(y_test, y_pred_rf)

print("MAPE (Random Forest): {:.2f}%".format(mape_rf))

MAPE (Random Forest): 6.91%

In [53]:
# R2 score
r2_rf = r2_score(y_test, y_pred_rf)

print("R2 Score (Random Forest): {:.2f}".format(r2_rf))

R2 Score (Random Forest): 0.71

In [54]:
# Вычисление MAE
mae = mean_absolute_error(y_test, y_pred_rf)
print("Mean Absolute Error (MAE):", mae)

Mean Absolute Error (MAE): 27.83119020344161

In [56]:
# Выводим предсказания
print(y_pred_rf)

[438.93401531 403.70349219 382.78487184 ... 440.81967233 444.11690219
 421.87179225]